﻿@model praktyki.Models.ClientService

@{
    ViewData["Title"] = "Dodaj przypisanie";
    bool blockSelect = (bool)ViewData["PassedId"];
}

<h1>Dodaj przypisanie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client.Name" class="control-label">Nazwa klienta</label>
                <select asp-for="ClientId" id="clients" class="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label">Nazwa usługi</label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <textarea asp-for="Opis" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>
<script>
    if ("@blockSelect" == "True") {
        document.getElementById("clients").disabled = true;
    }
    else {
        document.getElementById("clients").disabled = false;
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
