﻿@model praktyki.Models.ClientService

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Client" asp-action="Details" asp-route-id="@Model.Client.ClientId">@Html.DisplayFor(model => model.Client.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Service" asp-action="Details" asp-route-id="@Model.Service.ServiceId">@Html.DisplayFor(model => model.Service.Name)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientServiceId">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
