﻿@model IEnumerable<praktyki.Models.ClientService>

@{
    ViewData["Title"] = "Lista działających usług u klientów";
}

    <div class="row">
        <div class="col" style="flex-grow: 2">
            <h1>Lista działających usług u klientów</h1>
            <p>
                <a asp-action="Create">Dodaj nową usługę</a>
            </p>
        </div>
        <div class="col" style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end;">
            <div class="form-group">
                <form asp-controller="ClientService" asp-action="Index" method="get" style="display: inline-flex">
                    <input type="text" class="form-control" name="Search" placeholder="Szukaj..." />
                    <input type="submit" asp-controller="ClientService" asp-action="Index" class="btn btn-outline-primary" value="Szukaj" />
                </form>
            </div>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-controller="Client" asp-action="Details" asp-route-id="@item.Client.ClientId">@Html.DisplayFor(modelItem => item.Client.Name)</a>
            </td>
            <td>
                <a asp-controller="Service" asp-action="Details" asp-route-id="@item.Service.ServiceId">@Html.DisplayFor(modelItem => item.Service.Name)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientServiceId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ClientServiceId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientServiceId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
