﻿@model praktyki.Models.Point

@{
    ViewData["Title"] = "Szczegóły punktu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły punktu</h1>
<style>
    #map {
        background: none;
        position: fixed;
        height: 30%;
        width: 40%;
    }
</style>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Details" asp-controller="Client" asp-route-id="@Model.Client.ClientId">@Html.DisplayFor(model => model.Client.Name)</a>
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">Lokalizacja:</dt>
        <dt class="col-sm-10">
            <div id="map"></div>
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PointId">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
<script>
    let marker, popup, lat, long;
    @{
        @:lat = parseFloat(@Model.Latitude);
        @:lng = parseFloat(@Model.Longitude);
    }
    var options = {
        center: [lat, lng],
        zoom: 5
    }
    var map = L.map('map', options);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    marker = new L.Marker([lat, lng]).addTo(map);
</script>