﻿@model praktyki.Models.Point

@{
    ViewData["Title"] = "Edytuj punkt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<style>
    #map {
        background: none;
        position: fixed;
        height: 50%;
        width: 40%;
    }
</style>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PointId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" id="loc_lat" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" id="loc_lng" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div id="map"></div>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>


<script>

    var options = {
        center: [53.298244, 23.654148],
        zoom: 6
    }

    var map = L.map('map', options);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker;
    marker = new L.Marker([@Model.Latitude, @Model.Longitude]).addTo(map);
    map.on('click', function (e) {
        if (marker) {
            map.removeLayer(marker);
        }
        marker = new L.Marker(e.latlng).addTo(map);
        var coord = e.latlng.toString().split(',');
        var lat = coord[0].split('(');
        var lng = coord[1].split(')');
        $('#loc_lat').val(lat[1]);
        $('#loc_lng').val(lng[0]);
        console.log($('#loc_lat').val())
    });
</script>