﻿@model IEnumerable<praktyki.Models.Point>

@{
    ViewData["Title"] = "Lista punktów";
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}
    <style>
        .blankRow {
            height: 30rem !important;
        }
        #map{
            height: 93%;
            width: 100%;
            position: absolute;
        }
        .custom-fixed{
            position: fixed;
            top: 100px;
            right: 10px;
            z-index: 9999;
        }
    </style>
@*<h1>Index</h1>*@
<a class="btn btn-primary custom-fixed" asp-action="Create">Dodaj nowy punkt</a>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Client" asp-route-id="@item.Client.ClientId">@item.Client.Name</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PointId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.PointId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.PointId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
@*<table class="table">
    <tr>
        <td colspan="3" rowspan="3" id="map">
        </td>
    </tr>
    <tr class="blankRow"></tr>
</table>*@
<div id="map"></div>
<script>

    var options = {
        center: [53.298244, 23.654148],
        zoom: 6
    }
    let marker, popup, lat, lng, latlng;
    var map = L.map('map', options);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var arcgisOnline = L.esri.Geocoding.arcgisOnlineProvider();
    L.esri.Geocoding.geosearch({
        providers: [
            arcgisOnline,
            L.esri.Geocoding.mapServiceProvider({
                label: 'States and Counties',
                url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer',
                layers: [2, 3],
                searchFields: ['NAME', 'STATE_NAME']
            })
        ],
        placeholder: "Szukaj..."
    }).addTo(map);
    @foreach (var item in Model) {
        if (item.Latitude != null && item.Longitude != null) {
        @:lat = parseFloat(@item.Latitude);
        @:lng = parseFloat(@item.Longitude);
        @:latlng = L.latLng(lat, lng);
        @:if (lat === undefined || lng === undefined) {
            @:console.log("brak danych");
        @:}
        @:else {
            @:marker = new L.marker(latlng).addTo(map);
            @:popup = L.popup().setContent('<a href="/Point/Details/@item.PointId">@item.Name</a><br>@item.Description');
            @:marker.bindPopup(popup);
        @:}
        }
    }
</script>