﻿@model IEnumerable<praktyki.Models.EmployeePoint>

@{
    ViewData["Title"] = "Lista przypisanych osób do punktów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <h1>@ViewData["MyTitle"]</h1>
    <p>
        <a asp-action="Create">Dodaj nowe przypisanie</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Point)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>                        
                        <a asp-controller="Point" asp-action="Details" asp-route-id="@item.PointId">@Html.DisplayFor(modelItem => item.Point.Name)</a>
                    </td>
                    <td>
                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.EmployeeId">@Html.DisplayFor(modelItem => item.Employee.FullName)</a>
                    </td>
                    <td>
                        @Html.ActionLink("Usuń", "Delete", new { PointId = item.PointId, EmployeeId = item.EmployeeId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="alert alert-danger">@ViewData["MyTitle"] </h1>
    <h3>
        <a asp-action="Create">Przypisz</a>
    </h3>
}