﻿@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Skonfiguruj aplikacje uwierzytelniającą";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div>
    <p>Żeby używać aplikacji uwierzytelniającej:</p>
    <ol class="list">
        <li>
            <p>
                Pobierz aplikację 2FA np. Microsoft Authenticator na
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> i
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> lub
                Google Authenticator na
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> i
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Zeskanuj kod QR lub wprowadź ten kod <kbd>@Model.SharedKey</kbd> do aplikacji 2FA. Spacje i wielkośc liter nie mają znaczenia.</p>
            @*<div class="alert alert-info">Zobacz jak <a href="https://go.microsoft.com/fwlink/?Linkid=852423">włączyć generowanie kodów QR</a>.</div>*@
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p>
                Kiedy zeskanujesz kod QR lub wprowadzisz powyższy klucz do aplikacji 2FA dostaniesz unikalny kod weryfikacyjny. Wprowadź ten kod poniżej.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">Kod weryfikacyjny</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Verify</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript" src="~/lib/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}
