﻿@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Kody zapasowe";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Zapisz te kody w bezpiecznym miejscu.</strong>
    </p>
    <p>
        Jeśli zgubisz swoje urządzenie i nie będziesz mieć kodów zapasowych stracisz dostęp do tego konta.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>