﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Brak uprawnień";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nie masz wystarczających uprawnień, żeby uzyskać dostęp do zasobu.</p>
    <p class="text-danger">Jeśli chcesz dostać odpowniednie uprawnienia skontaktuj się z Administratorem serwisu.</p>
</header>
