﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie zresetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    Twoje hasło zostało zresetowane. <a asp-page="./Login">Kliknij tutaj, żeby sie zalogować</a>.
</p>
