﻿@model praktyki.Models.EventViewModel

@{
        ViewData["Title"] = "Dodaj zdarzenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool blockSelect = (bool)ViewData["PassedId"];
    Dictionary<int, string> status = new Dictionary<int, string>();
    status.Add(0, "Zaplanowany");
    status.Add(1, "W trakcie");
    status.Add(2, "Zakończony");
    status.Add(3, "Coś poszło nie tak");
    SelectList sl = new SelectList(status.ToList(), "Key", "Value");
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionLong" class="control-label"></label>
                <textarea asp-for="DescriptionLong" rows="4" class="form-control"></textarea>
                <span asp-validation-for="DescriptionLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="sl"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group" id="clientDiv">
                <label class="control-label">Klient</label>
                <select required="required" class="form-control" id="client" asp-items="ViewBag.Clients" onchange="changePoints(this)">
                    @if (blockSelect == false)
                    {
                        <option disabled selected>Wybierz klienta</option>
                    }
                </select>
            </div>
            <div class="form-group" id="pointDiv">
                <label asp-for="PointId" class="control-label">Punkt</label>
                <select class="form-control" asp-for="PointId" id="point" onchange="changeEmployees()"></select>
            </div>
            <div class="form-group" id="employeeDiv">
                <div class="d-flex mb-2">
                    <label class="control-label w-100">Osoby</label><a class="btn btn-primary d-flex align-items-center" style="color: #fff; cursor:pointer" onclick="changeEmployees()"><span class="fas fa-sync-alt mr-2"></span>Odśwież</a>
                </div>
                <select asp-for="EmployeesId" multiple class="form-control" id="employee"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>
<script>
    if ("@blockSelect" == "True") {
        console.log("czy if jest prawda? TAK!")
        document.getElementById("client").disabled = true;
        document.getElementById("point").disabled = true;
        document.getElementById("pointDiv").style.display = "block";
        document.getElementById("employeeDiv").style.display = "block";
        let selectList = document.getElementById("point");
        let option = document.createElement("option");
        fetch('https://localhost:44319/api/points')
            .then(response => response.json())
            .then(data => {
                data.map(point => {
                    if (point.pointId == @ViewBag.PointId) {
                        option.value = point.pointId;
                        option.textContent = point.name;
                        option.selected = true;
                        selectList.appendChild(option)
                    }
                });
            });

        let employeesId = [];
        let selectedId = document.getElementById("point").value;
        let selectList2 = document.getElementById("employee");
        fetch('https://localhost:44319/api/employeepoints')
            .then(response => response.json())
            .then(data => {
                console.log("przed mapowaniem wynikow z employeepoints")
                data.map(employeePoint => {
                    if (employeePoint.pointId == option.value) {
                        employeesId.push(employeePoint.employeeId);
                        console.log("dodano do listy emplyeesid: " + option.value);
                    }
                })
            });
        console.log(employeesId)
        fetch('https://localhost:44319/api/employees')
            .then(response => response.json())
            .then(data => {
                data.map(employee => {
                    if (employeesId.includes(employee.employeeId)) {
                        let option = document.createElement("option");
                        option.value = employee.employeeId;
                        option.textContent = employee.fullName
                        selectList2.appendChild(option);
                    }
                })
            });
        //(async function () {
        //    await changeEmployees();
        //})();
        console.log(document.getElementById("point").value);
    }
    else {
        document.getElementById("client").disabled = false;
        document.getElementById("point").disabled = false;
        document.getElementById("pointDiv").style.display = "none";
        document.getElementById("employeeDiv").style.display = "none";
        function changePoints() {
            $("#point").empty();
            let selectedClient = document.getElementById("client").value;
            let selectList = document.getElementById("point");
            let tmp = document.createElement("option");
            tmp.value = 0;
            tmp.textContent = "Wybierz punkt";
            tmp.selected = true;
            tmp.disabled = true;
            selectList.appendChild(tmp);
            fetch('https://localhost:44319/api/points')
                .then(response => response.json())
                .then(data => {
                    data.map(point => {
                        if (point.clientId == selectedClient) {
                            let option = document.createElement("option");
                            option.value = point.pointId;
                            option.textContent = point.name;
                            selectList.appendChild(option)
                        }
                    });
                });

            document.getElementById("pointDiv").style.display = "block";
        }
    }
    async function setPoints() {
        let selectList = document.getElementById("point");
        await fetch('https://localhost:44319/api/points')
            .then(response => response.json())
            .then(data => {
                data.map(point => {
                    if (point.pointId == @ViewBag.PointId) {
                        let option = document.createElement("option");
                        option.value = point.pointId;
                        option.textContent = point.name;
                        option.selected = true;
                        selectList.appendChild(option)
                    }
                });
            });
    }

    async function changeEmployees() {
        $("#employee").empty();
        let employeesId = [];
        console.log(document.getElementById("point").value);
        let selectedId = document.getElementById("point").value;
        console.log(document.getElementById("point").value);
        console.log("selectedId: " + selectedId)
        let selectList = document.getElementById("employee");
        await fetch('https://localhost:44319/api/employeepoints')
            .then(response => response.json())
            .then(data => {
                data.map(employeePoint => {
                    console.log("employeePoint.pointId: " + employeePoint.pointId + "---selectedId: " + selectedId);
                    if (employeePoint.pointId == selectedId) {
                        employeesId.push(employeePoint.employeeId);
                    }
                })
                console.log("skonczyło się mapowanie");
                console.log(document.getElementById("point").value);
            });
        await fetch('https://localhost:44319/api/employees')
            .then(response => response.json())
            .then(data => {
                data.map(employee => {
                    if (employeesId.includes(employee.employeeId)) {
                        let option = document.createElement("option");
                        option.value = employee.employeeId;
                        option.textContent = employee.fullName
                        selectList.appendChild(option);
                    }
                })
            });
        document.getElementById("employeeDiv").style.display = "block";
    }
    @*@foreach (var item in ViewBag.Points) {
        if (item.ClientId ==
            @:selectedClient
            ) {
        @:console.log(@item.ClientId);
        }
    }*@
</script>
