﻿@model praktyki.Models.Event

@{
    ViewData["Title"] = "Szczegóły zdarzenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<int, string> status = new Dictionary<int, string>();
    status.Add(0, "Zaplanowany");
    status.Add(1, "W trakcie");
    status.Add(2, "Zakończony");
    status.Add(3, "Coś poszło nie tak");
    SelectList sl = new SelectList(status.ToList(), "Key", "Value", Model.Status);
}

<h1>Szczegóły zdarzenia</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-3">
            <select disabled asp-for="Status" class="form-control" asp-items="sl"></select>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventId">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
