﻿@model praktyki.Models.Event

@{
    ViewData["Title"] = "Edytuj zdarzenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<int, string> status = new Dictionary<int, string>();
    status.Add(0, "Zaplanowany");
    status.Add(1, "W trakcie");
    status.Add(2, "Zakończony");
    status.Add(3, "Coś poszło nie tak");
    SelectList sl = new SelectList(status.ToList(), "Key", "Value", Model.Status);
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionLong" class="control-label"></label>
                <textarea asp-for="DescriptionLong" rows="4" class="form-control"></textarea>
                <span asp-validation-for="DescriptionLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="sl"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

