﻿@model IEnumerable<praktyki.Models.Event>

@{
    ViewData["Title"] = "Lista zdarzeń";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Dodaj nowe zdarzenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
