﻿@model IEnumerable<praktyki.Models.Event>

@{
    ViewData["Title"] = "Mapa punktów";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<int, string> status = new Dictionary<int, string>();
    status.Add(0, "Zaplanowany");
    status.Add(1, "W trakcie");
    status.Add(2, "Zakończony");
    status.Add(3, "Coś poszło nie tak");
    SelectList sl = new SelectList(status.ToList(), "Key", "Value", ViewBag.Status);
}

<h1>@ViewData["Title"]</h1>
<style>
    .blankRow {
        height: 30rem !important;
    }
</style>
<p>
    <a asp-action="Create">Dodaj nowe zdarzenie</a>
</p>
<form id="advancedSearch" asp-controller="Result" asp-action="Index" method="get" class="form-inline" style="justify-content: center;">
    <div class="form-group mb-2">
        <label>Status:</label>
        <select name="Status" asp-items="sl" class="form-control ml-2">
            <option selected disabled>Wybierz status</option>
        </select>
    </div>
    <div class="form-group mb-2 ml-2">
        <label>Od: </label>
        <input name="FromDate" value=@ViewData["DateTime1"] class="form-control ml-2" type="datetime-local" />
        <label class="ml-2"> Do: </label>
        <input name="ToDate" value=@ViewData["DateTime2"] class="form-control ml-2" type="datetime-local" />
    </div>
    <div class="form-group mb-2 ml-2">
        <input type="submit" asp-controller="Event" asp-action="Map" class="btn btn-outline-primary" value="Filtruj" />
    </div>
    <div class="form-group mb-2 ml-2">
        <input type="submit" asp-controller="Event" asp-action="ClearForm" class="btn btn-outline-primary" value="Resetuj" />
    </div>
</form>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Point)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @status[item.Status]
            </td>
            <td>
                <a asp-controller="Point" asp-action="Details" asp-route-id="@item.PointId">@item.Point.Name</a>
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new {  id=item.EventId  }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.EventId }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.EventId })
            </td>
        </tr>
}
    </tbody>
</table>*@
<table class="table">
    <tr>
        <td colspan="3" rowspan="3" id="map">
        </td>
    </tr>
    <tr class="blankRow"></tr>
</table>
<script>

    var options = {
        center: [53.298244, 23.654148],
        zoom: 6
    }
    let marker, popup, lat, lng, latlng;
    var map = L.map('map', options);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var arcgisOnline = L.esri.Geocoding.arcgisOnlineProvider();
    L.esri.Geocoding.geosearch({
        providers: [
            arcgisOnline,
            L.esri.Geocoding.mapServiceProvider({
                label: 'States and Counties',
                url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer',
                layers: [2, 3],
                searchFields: ['NAME', 'STATE_NAME']
            })
        ],
        placeholder: "Szukaj..."
    }).addTo(map);
    @foreach (var item in Model) {
        if (item.Point.Latitude != null && item.Point.Longitude != null) {
        @:lat = parseFloat(@item.Point.Latitude);
        @:lng = parseFloat(@item.Point.Longitude);
        @:latlng = L.latLng(lat, lng);
        @:if (lat === undefined || lng === undefined) {
            @:console.log("brak danych");
        @:}
        @:else {
            @:marker = new L.marker(latlng).addTo(map);
            @:popup = L.popup().setContent('<strong>Klient: </strong><a href="/Client/Details/@item.Point.ClientId"><strong>@item.Point.Client.Name</strong></a><br>Punkt: <a href="/Point/Details/@item.PointId">@item.Point.Name</a><br>Zdarzenie: <a href="/Event/Details/@item.EventId">@item.Description</a><br>Opis punktu: @item.Point.Description<br>Do zrobienia: @item.Description<br>Data: @item.Date');
            @:marker.bindPopup(popup);
        @:}
        }
        
    }
</script>