﻿@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Praktykant wita</h1>
    <p>Dowiedz się więcej<a href="https://gitlab.com/smolon/praktyki" target="_blank"> o tym projekcie</a>.</p>
</div>
