﻿@model praktyki.Models.Service

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły usługi</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ServiceId">Edytuj</a> |
    <a asp-controller="Result" asp-action="Index" asp-route-search="@Model.Name">Rezultaty</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
