﻿@model IEnumerable<praktyki.Models.Service>

@{
    ViewData["Title"] = "Lista usług";
}

    
<div class="row">
    <div class="col">
        <h1>Lista usług</h1>
        <p>
            <a asp-action="Create">Utwórz nowy</a>
        </p>
    </div>
    <div class="col" style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end;">
        <div class="form-group">
            <form asp-controller="Service" asp-action="Index" method="get" style="display: inline-flex">
                <input type="text" class="form-control" name="Search" placeholder="Szukaj..." />
                <input type="submit" asp-controller="Service" asp-action="Index" class="btn btn-outline-primary" value="Szukaj"/>
            </form>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServiceId">Edytuj</a> |
                    <a asp-controller="Result" asp-action="Index" asp-route-search="@item.Name">Rezultaty</a> |
                    <a asp-action="Details" asp-route-id="@item.ServiceId">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServiceId">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
