﻿@model praktyki.Models.Result

@{
    ViewData["Title"] = "Dodaj rezultat";
}

<h1>Dodaj rezultat</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datetime" class="control-label"></label>
                <input asp-for="Datetime" class="form-control" />
                <span asp-validation-for="Datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logs" class="control-label"></label>
                <input asp-for="Logs" class="form-control" />
                <span asp-validation-for="Logs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Errors" class="control-label"></label>
                <input asp-for="Errors" class="form-control" />
                <span asp-validation-for="Errors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientServiceId" class="control-label"></label>
                <select asp-for="ClientServiceId" class ="form-control" asp-items="ViewBag.ClientServiceId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
