﻿@model praktyki.Models.Result

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Na pewno chcesz to usunąć?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Errors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Errors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientService.ClientServiceId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ResultId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
