﻿@model praktyki.Models.Result

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły rezultatu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datetime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logs)
        </dt>
        <dd class="col-sm-10" style="white-space: pre-line">
            @Html.DisplayFor(model => model.Logs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Errors)
        </dt>
        <dd class="col-sm-10" style="white-space: pre-line">
            @Html.DisplayFor(model => model.Errors)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ClientService.Client.Name)*@Nazwa klienta
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Service" asp-action="Details" asp-route-id="@Model.ClientService.Client.ClientId">@Html.DisplayFor(model => model.ClientService.Client.Name)</a>
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ClientService.Client.Name)*@Nazwa usługi
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Service" asp-action="Details" asp-route-id="@Model.ClientService.Service.ServiceId">@Html.DisplayFor(model => model.ClientService.Service.Name)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResultId">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
