﻿@model PaginatedList<praktyki.Models.Result>

@{
    ViewData["Title"] = "Lista rezultatów operacji";
    Client selectedClient = ViewData["SelectedClient"] as Client;
    List<Client> clients = ViewData["clients"] as List<Client>;
    List<string> clientNames = new List<string>();
    List<Service> services = ViewData["services"] as List<Service>;
    List<string> serviceNames = new List<string>();
    foreach (var item in clients)
    {
        clientNames.Add(item.Name);
    }
    foreach (var item in services)
    {
        serviceNames.Add(item.Name);
    }
    var phrase = "";
    var characters = 100;
    List<string> stats = new List<string>();
    stats.Add("True");
    stats.Add("False");
    stats.Add("Null");
    SelectList ClientList = new SelectList(clientNames);
    SelectList ServiceList = new SelectList(serviceNames);
    SelectList StatusList = new SelectList(stats);
    foreach (var item in ClientList)
    {
        if (item.Text == ViewData["SelectedClient"].ToString())
        {
            item.Selected = true;
        }
    }
    foreach (var item in ServiceList)
    {
        if (item.Text == ViewData["SelectedService"].ToString())
        {
            item.Selected = true;
        }
    }
    foreach (var item in StatusList)
    {
        if (item.Text == ViewData["SelectedStatus"].ToString())
        {
            item.Selected = true;
        }
    }
}



<div class="row">
    <div class="col">
        <h1>Lista rezultatów operacji</h1>
        <p>
            <a asp-action="Create">Utwórz nowy rezultat</a>
        </p>
    </div>
    <div class="col" style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: flex-end;">
        <div class="form-group">
            <form asp-controller="Result" asp-action="Index" method="get" style="display: inline-flex">
                <input type="text" class="form-control" name="Search" placeholder="Szukaj..." value="@ViewData["Search"]" />
                <input type="submit" asp-controller="Result" asp-action="Index" class="btn btn-outline-primary" value="Szukaj" />
            </form>
        </div>
        <div>
            <a href="#advancedSearch" role="button" aria-expanded="false" aria-controls="collapseSearch" data-toggle="collapse" class="dropdown-toggle">Wyszukiwanie zaawansowane</a>
        </div>
    </div>
</div>

<form id="advancedSearch" asp-controller="Result" asp-action="Index" method="get" class="collapse form-inline" style="justify-content: center;">
    <div class="form-group mb-2 ml-2">
        <label>Zakres dat:</label>
        <input name="FromDate" value=@ViewData["DateTime1"] onchange="setDateTime1()" class="form-control ml-2" type="datetime-local" />
        <input name="ToDate" value=@ViewData["DateTime2"] class="form-control ml-2" type="datetime-local" />
    </div>
    <div class="form-group mb-2 ml-2">
        <select name="Status" id="status" class="form-control ml-2" asp-items="@StatusList">
            <option disabled selected>Status</option>
        </select>
    </div>
    <div class="form-group mb-2 ml-2">
        <select name="Client" class="form-control ml-2" asp-items="@ClientList">
            <option disabled selected>Klient</option>
        </select>
    </div>
    <div class="form-group mb-2 ml-2">
        <select name="Service" class="form-control ml-2" asp-items="@ServiceList">
            <option disabled selected>Usługa</option>
        </select>
    </div>
    <div class="form-group mb-2 ml-2">
        <label>Log:</label>
        <input name="Log" value="@ViewData["Log"]" class="form-control ml-2" />
    </div>
    <div class="form-group mb-2 ml-2">
        <label>Error:</label>
        <input name="Error" value="@ViewData["Error"]" class="form-control ml-2" />
    </div>
    <div class="form-group mb-2 ml-2">
        <input type="submit" asp-controller="Result" asp-action="Index" class="btn btn-outline-primary" value="Szukaj zaawansowane" />
    </div>
    <div class="form-group mb-2 ml-2">
        <input type="submit" asp-controller="Result" asp-action="ClearForm" class="btn btn-outline-primary" value="Resetuj" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Data</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">Status</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LogSortParm"]">Logi</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ErrorSortParm"]">Błędy</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ClientSortParm"]">Klient</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ServiceSortParm"]">Usługa</a>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td style="white-space: pre-line">
                    @if (item.Logs.Length > characters)
                    {
                        string[] words = { item.Logs.Substring(0, characters), "..." };
                        phrase = string.Concat(words);
                        @phrase
                        <a asp-action="Details" asp-route-id="@item.ResultId"> Więcej</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Logs)
                    }
                </td>
                <td style="white-space: pre-line">
                    @if (item.Errors != null && item.Errors.Length > characters)
                    {
                        string[] words = { item.Errors.Substring(0, characters), "..." };
                        phrase = string.Concat(words);
                        @phrase
                        <a asp-action="Details" asp-route-id="@item.ResultId"> Więcej</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Errors)
                    }
                </td>
                <td>
                    <a asp-controller="Client" asp-action="Details" asp-route-id="@item.ClientService.Client.ClientId">@Html.DisplayFor(modelItem => item.ClientService.Client.Name)</a>
                </td>
                <td>
                    <a asp-controller="Service" asp-action="Details" asp-route-id="@item.ClientService.Service.ServiceId">@Html.DisplayFor(modelItem => item.ClientService.Service.Name)</a>
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ResultId">Edytuj</a> |*@
                    <a asp-action="Details" asp-route-id="@item.ResultId">Szczegóły</a> @*|
                        <a asp-action="Delete" asp-route-id="@item.ResultId">Usuń</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var isActive20 = "";
    var isActive40 = "";
    var isActive60 = "";
    var isActive80 = "";
    int a = 20, b = 40, c = 60, d = 80;
    if (ViewData["active"] != "")
    {
        isActive20 = (string)ViewData["active"] == a.ToString() ? "active" : "";
        isActive40 = (string)ViewData["active"] == b.ToString() ? "active" : "";
        isActive60 = (string)ViewData["active"] == c.ToString() ? "active" : "";
        isActive80 = (string)ViewData["active"] == d.ToString() ? "active" : "";
    }
}
<div class="d-flex flex-row justify-content-center mt-2 mb-2 alert alert-primary">
    <form asp-action="DeleteInDateRange" asp-controller="Result" class="form-inline">
        <label>Usuń wpisy z danego przedziału:</label>
        <input name="FromDate" style="width: 30%" value=@ViewData["DateTime1"] class="form-control ml-2" type="datetime-local" />
        <input name="ToDate" style="width: 30%" value=@ViewData["DateTime2"] class="form-control ml-2" type="datetime-local" />
        <input type="submit" asp-action="DeleteInDateRange" asp-controller="Result" value="Usuń" class="btn btn-danger ml-2" />
    </form>
</div>
<div class="d-flex flex-row justify-content-between">
    <div>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-light @prevDisabled">
            ← Poprzednia strona
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-light @nextDisabled">
            Następna strona →
        </a>
    </div>
    <div class="d-inline-flex justify-content-around align-items-baseline">
        <div style="text-align: center">
            <span class="btn">Wyników na stronie:</span>
        </div>
        <div class="btn-toolbar ml-2" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-elemsOnPage="20"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-secondary @isActive20">20</a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-elemsOnPage="40"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-secondary  @isActive40">40</a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-elemsOnPage="60"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-secondary @isActive60">60</a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-elemsOnPage="80"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-secondary @isActive80">80</a>
            </div>
        </div>
    </div>
</div>

<script>
    function setDateTime1() {
        console.log(event.target.value)
    }
</script>