﻿@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "Dodaj rolę";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dodaj rolę</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Powrót do listy</a>
</div>
@section Scripts{ 
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}