﻿@model UserRoles
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Usuń rolę</h1>
@{ 

}
<h3>Kliknij rolę, którą chcesz usunąć</h3>
<div>
    <hr />
    @Model.UserName
    @*@foreach (var item in Model)
    {
        <form asp-action="DeleteUserRole">
            <input type="hidden" asp-for="role"
            <input type="submit" class="btn btn-danger" value="@item.RoleNames"/>
        </form>

    }*@
    <hr />

    <select asp-for="@Model.RoleNames" asp-items="@ViewBag.RoleNames"></select>
    @*<form asp-action="Delete">
            <input type="hidden" asp-for="ClientId" />
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            <a asp-action="Index">Powrót do listy</a>
        </form>*@
</div>