﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col">
        <h1>Lista ról</h1>
        <p>
            <a asp-action="Create">Utwórz rolę</a>
        </p>
    </div>
    <div class="col" style="display: flex; flex-direction: row; justify-content: flex-end; align-items: flex-end;">
        @*<div class="form-group">
            <form asp-controller="Service" asp-action="Index" method="get" style="display: inline-flex">
                <input type="submit" asp-controller="Role" asp-action="Manage" class="btn btn-outline-primary" value="Przypisz użytkownika do roli" />
            </form>
        </div>
        <div class="form-group ml-3">
            <form asp-controller="Service" asp-action="Index" method="get" style="display: inline-flex">
                <input type="submit" asp-controller="Role" asp-action="ListUsers" class="btn btn-outline-primary" value="Lista użytkowników" />
            </form>
        </div>
        <div class="form-group ml-3">
            <form method="get" style="display: inline-flex">
                <input type="submit" class="btn btn-outline-danger" value="Zabierz rolę użytkownikowi" />
            </form>
        </div>*@
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td><a asp-action="Update" asp-route-id="@role.Id">Zarządzaj użytkownikami</a></td>
            </tr>
        }
    </tbody>
</table>

