﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewBag.Title = "Lista użytkownków";
}

<h1>Lista użytkownków</h1>

@if (Model.Any())
{
    @*<a asp-action="Register" asp-controller="Account"
       class="btn btn-primary mb-3" style="width:auto">
        Add new user
    </a>*@

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="Role" asp-action="DeleteUser" asp-route-id="@user.Id" class="btn btn-danger">Usuń</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Brak użytkowników
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Niech ktoś stworzy nowe konto
            </h5>
            @*<a class="btn btn-primary" style="width:auto"
               asp-controller="Account" asp-action="Register">
                Add new user
            </a>*@
        </div>
    </div>
}