﻿@model RoleEdit

<h1>Edytuj rolę</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />

    <h2>Dodaj do roli @Model.Role.Name</h2>
    <table class="table table-bordered table-striped table-sm">
        @if (Model.NonMembers.Count() == 0)
        {
            <tr><td colspan="2">Wszyscy użytkownicy są w tej roli</td></tr>
        }
        else
        {
            @foreach (Microsoft.AspNetCore.Identity.IdentityUser user in Model.NonMembers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="AddIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>

    <h2>Usuń z roli @Model.Role.Name</h2>
    <table class="table table-bordered table-striped table-sm">
        @if (Model.Members.Count() == 0)
        {
            <tr><td colspan="2">Nikt nie jest w tej roli</td></tr>
        }
        else
        {
            @foreach (Microsoft.AspNetCore.Identity.IdentityUser user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="DeleteIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-primary">Zapisz</button> |
    <a asp-action="Index">Powrót do listy</a>
</form>