﻿@model praktyki.Models.Client

@{
    ViewData["Title"] = "Szczegóły";
    List<ClientService> services = ViewBag.Services;
    List<Point> points = ViewBag.Points;
}

<h1>Szczegóły klienta</h1>

<style>
    .mylist {
        border: 1.5px solid #cac8c8;
        max-height: 300px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    #map {
        background: none;
        position: fixed;
        height: 30%;
        width: 40%;
    }
    .my-list-item {
        background-color: #e6e6e6;
        padding-bottom: 0.75rem;
        padding-left: 0px;
        padding-right: 1.25rem;
        padding-top: 0.75rem;
        font-weight: 600;
        border: none;
    }
    li > span{
        padding-left: 15px;
    }
    
</style>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Lista usług:
        </dt>
        <dt class="col-sm-10">
            <ul class="list-group mylist">
                @foreach (var item in services)
                {
                    <li class="list-group-item my-list-item"><span><a asp-controller="ClientService" asp-action="Details" asp-route-id="@item.ClientServiceId">@item.Service.Name</a> @item.Opis</span></li>
                }
            </ul>

        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Punkty:
        </dt>
        <dt class="col-sm-10">
            <ul class="list-group mylist">
                @foreach (var item in points)
                {
                <li class="list-group-item my-list-item"><span><strong>@item.Name</strong>, @item.Description    | <a asp-controller="Event" asp-action="Create" asp-route-pointId="@item.PointId" asp-route-clientId="@item.ClientId">Dodaj zdarzenie</a></span></li>
                }
            </ul>

        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Zdarzenia:
        </dt>
        <dt class="col-sm-10">
            <ul class="list-group mylist">
                @foreach (var item in Model.Point)
                {
                    @foreach (var item2 in item.Events)
                    {
                        if (item2.Status != 2)
                        {
                            <li class="list-group-item my-list-item"><span>[@item2.Date] @item2.Description | <a asp-controller="Event" asp-action="Details" asp-route-id="@item2.EventId">Szczegóły</a></span></li>
                        }
                    }
                }
            </ul>
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">Lokalizacja:</dt>
        <dt class="col-sm-10">
            <div id="map"></div>
        </dt>
    </dl>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="position-relative">
    <a asp-action="Edit" asp-route-id="@Model.ClientId">Edytuj</a> |
    <a asp-controller="Point" asp-action="Create" asp-route-id="@Model.ClientId">Dodaj punkt</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
<script>
    let marker, popup, lat, long;
    @{ 
        @:lat = parseFloat(@Model.Latitude);
        @:lng = parseFloat(@Model.Longitude);
    }
    var options = {
        center: [lat, lng],
        zoom: 5
    }
    var map = L.map('map', options);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    marker = new L.Marker([lat, lng]).addTo(map);
</script>