﻿@model IEnumerable<praktyki.Models.Client>

@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index2</h1>

<p>
    <a asp-action="Create">Dodaj nowy </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ClientId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
