﻿@model IEnumerable<praktyki.Models.Client>

@{
    ViewData["Title"] = "Lista klientów";
}
<style>
    .blankRow{
        height: 30rem !important;
    }
</style>
<div class="row">
    <div class="col">
        <h1>Lista klientów</h1>
        <p>
            <a asp-action="Create">Dodaj nowego klienta</a>
        </p>
    </div>
    <div class="col" style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end;">
        <div class="form-group">
            <form asp-controller="Client" asp-action="Index" method="get" style="display: inline-flex">
                <input type="text" class="form-control" name="Search" placeholder="Szukaj..." />
                <input type="submit" asp-controller="Client" asp-action="Index" class="btn btn-outline-primary" value="Szukaj" />
            </form>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientId">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.ClientId">Szczegóły</a> |
                    <a asp-controller="ClientService" asp-action="Create" asp-route-id="@item.ClientId">Przypisz usługę</a> |
                    <a asp-controller="Point" asp-action="Create" asp-route-id="@item.ClientId">Dodaj punkt</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClientId">Usuń</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
<h1>Klienci na mapie</h1>
<table class="table">
    <tr>
        <td colspan="3" rowspan="3" id="map">
        </td>
    </tr>
    <tr class="blankRow"></tr>
</table>
<script>

    var options = {
        center: [53.298244, 23.654148],
        zoom: 6
    }
    let marker, popup, lat, lng, latlng;
    var map = L.map('map', options);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var arcgisOnline = L.esri.Geocoding.arcgisOnlineProvider();
    L.esri.Geocoding.geosearch({
        providers: [
            arcgisOnline,
            L.esri.Geocoding.mapServiceProvider({
                label: 'States and Counties',
                url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer',
                layers: [2, 3],
                searchFields: ['NAME', 'STATE_NAME']
            })
        ],
        placeholder: "Szukaj..."
    }).addTo(map);
    @foreach (var item in Model) {
        if (item.Latitude != null && item.Longitude != null) {
        @:lat = parseFloat(@item.Latitude);
        @:lng = parseFloat(@item.Longitude);
        @:latlng = L.latLng(lat, lng);
        @:if (lat === undefined || lng === undefined) {
            @:console.log("brak danych");
        @:}
        @:else {
            @:marker = new L.marker(latlng).addTo(map);
            @:popup = L.popup().setContent('<a href="/Client/Details/@item.ClientId">@item.Name</a>');
            @:marker.bindPopup(popup);
        @:}
        }
    }
</script>
