﻿@model IEnumerable<praktyki.Models.Employee>

@{
    ViewData["Title"] = "Lista osób";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div class="d-inline-flex justify-content-between w-100">
    <p>
        <a asp-action="Create">Dodaj nową osobę </a>
    </p>
    <p> <a asp-action="Create" asp-controller="EmployeePoint">Przypisz osobę do punktu</a></p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
